<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <title>Productivity</title>
    </head>
    <body>
        <div id="root">

            <!-- Top Contacts Bar -->
            <div id="contact-bar">
                <div class="container">
                    <div class="open-hours">
                        <span><i class="fas fa-clock"></i> Open Hours: Mon - Sat - 9:00 - 18:00</span>
                    </div>
                    <div class="contacts">
                        <span><i class="fas fa-phone-alt"></i> {{phone_number}}</span>
                        <span><i class="fas fa-envelope"></i> {{e_mail}}</span>
                        <div class="social-icons-container">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Jumbotron -->
            <section id="jumbotron">

                <!-- Navbar -->
                <div class="navbar uppercase">
                    <div class="container">

                        <!-- NexGen -->
                        <div class="left-navbar">
                            <div class="nex">
                                <span>Nex</span>
                            </div>
                            <div class="gen">
                                <span class="gen">Gen</span>
                            </div>
                        </div>

                        <!-- Right Navbar -->
                        <div class="right-navbar">
                            <!-- Navbar -->
                            <ul class="nav">
                                <li v-for="(item, i) in top_navbar_items" :class="top_navbar_index == i ? 'green-text' : '' " @click="top_navbar_select(i)">{{item}}</li>
                            </ul>

                            <!-- Login and Get in touch -->
                            <div class="get-in-touch">
                                <span><i class="far fa-user"></i></span>
                                <button type="button" name="button" class="button green-button">Get in Touch</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Sezione centrale jumbotron -->
                <div class="main-section">
                    <div class="container">
                        <div class="get-more-productivity">
                            <h4 class="uppercase green-text">Human Resurces</h4>
                            <h1 >Get More <span>Productivity</span></h1>
                            <p>Planning, recruitment and selection process and performance evaluation of emplyees.</p>
                            <div class="buttons-container">
                                <button type="button" name="button" class="button green-button">Get in Touch</button>
                                <button type="button" name="button" class="button white-text">Read More</button>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

            <!-- Cards Section -->
            <section id="cards">

                <div class="container">

                    <div class="human-capital card">
                        <div class="icon-container">
                            <i class="fas fa-user-friends"></i>
                        </div>
                        <h2>Human Capital</h2>
                        <p>Humanazing business: Harness the power of technology to improve the way people work.
                        </p>
                    </div>

                    <div class="core-business card">
                        <div class="icon-container">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <h2>Core Business</h2>
                        <p>It takes innovative approaches to transform, modernize and run existing platforms.
                        </p>
                    </div>

                    <div class="performance card">
                        <div class="icon-container">
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <h2>Performance</h2>
                        <p>Achieving maximum impact and value from investments in finance and supply chain.
                        </p>
                    </div>
                <!-- Chiusura cards container -->
                </div>

                <div class="dots-divider">
                    <span v-for="dot in 36">⬤</span>
                </div>
            </section>

            <!-- About the company Section -->
            <section id="the-company">

                <div class="container">

                    <div class="about-the-network">

                        <div class="infos">
                            <h5 class="green-text uppercase">
                                About the Network
                            </h5>
                            <h1>
                                <span class="color-bg">
                                    The
                                </span>
                                Company
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                            </p>

                            <div class="company-numbers">
                                <div class="employees num-card">
                                    <span>0</span>
                                    <h2>Employees</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="paprtners num-card">
                                    <span>0</span>
                                    <h2>Partners</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="customers num-card">
                                    <span>0</span>
                                    <h2>Customers</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="buttons-container">
                                <button type="button" name="button" class="button green-button">Get in Touch</button>
                                <button type="button" name="button" class="button green-text">Read More</button>
                            </div>
                        </div>

                    </div>

                    <div class="right-background">
                    </div>

                </div>
                <!-- Dots divider -->
                <div class="dots-divider">
                    <span v-for="dot in 36">⬤</span>
                </div>
            </section>

            <section id="actions-projects">

                <div class="container">

                    <!-- Titoli sezione -->
                    <div class="titles">
                        <h5 class="green-text uppercase">
                            We do more for Everyone
                        </h5>
                        <h1 class="white-text">
                            Actions & <span class="color-bg">
                                Projects
                            </span>
                        </h1>
                    </div>

                    <div class="actions-navbar">
                        <!-- Navbar -->
                        <ul class="nav">
                            <li v-for="(item, i) in actions_navbar_items" :class="actions_navbar_index == i ? 'color-bg' : ''" class="uppercase" @click="actions_navbar_select(i)">{{item}}
                            </li>
                        </ul
                    </div>

                    <div class="squares-wrapper">
                        <div class="square" v-for="(image, i) in squares">
                            <img :src="squares_img_root_path + image.name" :alt="image.name" class="opacity-5">
                            <p class="white-text">{{image.text}}</p>
                        </div>
                    </div>

                </div>

            </section>

            <section id="process-management">
                <div class="container">
                    <div class="titles">
                        <h5 class="green-text uppercase">How it works in practise</h5>
                        <h1>
                            <span class="color-bg green-text">
                                Process
                            </span>
                            Management
                        </h1>
                        <p class="grey-text">
                            We work whith innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned.
                        </p>
                    </div>

                    <div class="processes-wrapper">

                        <div class="process">
                            <div class="number">
                                <span>01</span>
                            </div>
                            <h2>
                                Collection of Information
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>

                        <div class="process">
                            <div class="number">
                                <span>02</span>
                            </div>
                            <h2>
                                Strategic planning
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>

                        <div class="process">
                            <div class="number">
                                <span>03</span>
                            </div>
                            <h2>
                                Assignment of responsabilities
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>

                        <div class="process">
                            <div class="number">
                                <span>04</span>
                            </div>
                            <h2>
                                Formatting process
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>

                        <div class="process">
                            <div class="number">
                                <span>05</span>
                            </div>
                            <h2>
                                Continuity formalization
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>

                    </div>
                </div>
            </section>

            <!-- Trusted feedback -->
            <section id="trusted-feedback">
                <div class="container">

                </div>
            </section>

            <!-- Footer -->
            <footer>
                <div class="container">

                </div>
            </footer>

        <!-- Chiusura root -->
        </div>
        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
