*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

/* Colors
    #121117;
    #505051;
    #babdbe;
    #038483;
    #51bdbc;
    #202427;
    #e4eae6;
    #6c9b9c;
    #5c828c;
    #947474;
    #1a948f;
    #5e6063;
    #097a7c;
    #24343c;
    #7ed5d5;
 */
.container{
    width: 60%;
    height: 100%;
    margin: auto;
}

.uppercase{
    text-transform: uppercase;
}

.green-text{
    color: #1a948f;
}

.white-text{
    color: white;
}

.grey-text{
    color: grey;
}

.button{
    text-transform: uppercase;
    padding: 0 25px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #1a948f;
    background: none;
    cursor: pointer;
}

.green-button{
    background-color: #1a948f;
    color: white;
}

.color-bg{
    display: inline-block;
    height: 100%;
    background-color: rgba(3,132,131, 0.2);
    border-radius: 6px;
    padding: 5px 15px;
}


/************************************* Top Contacts Bar */
#contact-bar{
    height: 50px;
    background-color: #24343c;
    color: #babdbe;
    font-weight: 300;
}

#contact-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

#contact-bar .container .contacts{
    width: 480px;
    display: flex;
    justify-content: space-between;
}

#contact-bar .container .contacts .social-icons-container{
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/************************************* Jumbotron */
#jumbotron{
    height: 865px;
    background-image: url("../img/bg-4.jpg");
    color: white;
    position: relative;
}

#jumbotron::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #121117;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

#jumbotron .navbar, #jumbotron .main-section{
    position: relative;
    z-index: 2;
}

#jumbotron .navbar{
    height: 85px;
    font-weight: bold;
}

#jumbotron .navbar .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Left Navbar */
#jumbotron .navbar .container .left-navbar{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    letter-spacing: 3px;
}

#jumbotron .navbar .container .left-navbar .nex{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 0 30px;
    background-color: rgba(3,132,131, 0.2);
    color: #1a948f;
    border-radius: 20px 0 0 20px;
}

/* Right Navbar */
#jumbotron .navbar .container .right-navbar{
    width: 71%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#jumbotron .navbar .container .right-navbar .nav{
    display: flex;
    width: 70%;
    justify-content: space-around;
    list-style: none;
}

#jumbotron .navbar .container .right-navbar .nav li{
    cursor: pointer;
}

#jumbotron .navbar .container .right-navbar .get-in-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
}

/* Main section */
#jumbotron .main-section{
    height: 780px;
}

#jumbotron .main-section .container{
    display: flex;
    align-items: center;
}

#jumbotron .main-section .container .get-more-productivity{
    width: 60%;
    height: 490px;
    display: flex;
    flex-direction: column;
}

#jumbotron .main-section .container .get-more-productivity h1{
    font-size: 70px;
    font-weight: 900;
    margin: 10px 0 25px 0;
}

#jumbotron .main-section .container .get-more-productivity h1 span{
    position: relative;
}

#jumbotron .main-section .container .get-more-productivity h1 span::after{
    content: "";
    display: block;
    width: 100%;
    height: 38%;
    background-color: rgba(3,132,131, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 52%;
    left: 2px;
    z-index: -1;
}

#jumbotron .main-section .container .get-more-productivity p{
    font-size: 24px;
    opacity: 0.8;
    line-height: 36px;
    margin-bottom: 50px;
}

#jumbotron .main-section .container .get-more-productivity .buttons-container .green-button{
    margin-right: 20px;
}


/************************************* Card Section */
#cards{
    height: 605px;
    background-color: #eef4ed;
    position: relative;
}

#cards .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cards .container .card{
    height: 315px;
    width: 360px;
    padding: 45px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

#cards .container .card .icon-container{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: rgb(218, 236, 237);
    color: #1a948f;
    display: flex;
    font-size: 28px;
}

#cards .container .card .icon-container i{
    margin: auto;
}

#cards .container .card h2{
    color: rgb(33,51,52);
}

#cards .container .card p{
    line-height: 25px;
    font-weight: 400;
    color: grey;
}

/************************************* Dots divider*/
.dots-divider{
    width: 150px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 9px;
    color: rgba(3,132,131, 0.3);
    position: absolute;
    top: calc(100% - 35px);
    /* 50% - metà larghezza dots divider + margini sx e dx */
    left: calc(50% - 75px + 8px);
    z-index: 1;
}

.dots-divider span{
    margin: 2px 4px;
}

/************************************* The company*/
#the-company{
    height: 770px;
    position: relative;
}

#the-company .container{
    width: 80%;
    margin: 0;
    margin-left: auto;
    display: flex;
}

#the-company .container .about-the-network{
    width: 38%;
    height: 100%;
    display: flex;
}

#the-company .container .about-the-network .infos{
    height: 500px;
    margin: auto;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
}

#the-company .container .about-the-network .infos h1{
    font-size: 48px;
    font-weight: 800;
    color: #24343c;
    margin: 30px 0;
}

#the-company .container .about-the-network .infos h1 span{
    color: #1a948f;
}

#the-company .container .right-background{
    width: 62%;
    height: 100%;
    background-image: url("../img/about-5.jpg");
    background-position: center;
    background-size: cover;
}

#the-company .container .about-the-network .infos p{
    color: grey;
    line-height: 24px;
}

#the-company .container .about-the-network .infos .company-numbers{
    display: flex;
    height: 165px;
    margin-top: 50px;
    margin-bottom: 60px;
}

#the-company .container .about-the-network .infos .company-numbers .num-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}

#the-company .container .about-the-network .infos .company-numbers .num-card span{
    font-size: 42px;
    font-weight: 700;
    color: #1a948f;
    padding-left: 20px;
}

#the-company .container .about-the-network .infos .company-numbers .num-card p{
    width: 80%;
    line-height: 24px;
}

#the-company .container .about-the-network .infos .buttons-container .green-button{
    margin-right: 20px;
}

/************************************* Actions and Projects*/
#actions-projects{
    background-color: #121117;
    padding: 135px 0 190px 0;
}

#actions-projects .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#actions-projects .container .titles{
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

#actions-projects .container .titles h1{
    font-size: 48px;
    font-weight: 800;
}

#actions-projects .container .actions-navbar{
    width: 100%;
}

#actions-projects .container .actions-navbar .nav{
    width: 80%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
}

#actions-projects .container .actions-navbar .nav li{
    padding: 10px;
    cursor: pointer;
}

#actions-projects .container .squares-wrapper{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

#actions-projects .container .squares-wrapper .square{
    max-width: 360px;
    max-height: 360px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

#actions-projects .container .squares-wrapper .square img{
    width: 100%;
    border-radius: 10px;
    opacity: 0.5;
}

#actions-projects .container .squares-wrapper .square p{
    width: 320px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 70%;
    left: calc(50% - 160px);
}

/************************************* Process Management*/
#process-management{
    padding-top: 135px;
    padding-bottom: 170px;
    position: relative;
}

#process-management .container{
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#process-management .container .titles{
    text-align: center;
    width: 52%;
    margin-bottom: 50px;
}

#process-management .container .titles h1{
    font-size: 48px;
    font-weight: 800;
    color: #24343c;
    margin: 30px 0;
}

#process-management .container .titles p{
    line-height: 24px;
}

#process-management .container .processes-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

#process-management .container .processes-wrapper::after{
    content: "";
    display: block;
    width: 100vW;
    max-width: 100%;
    height: 5px;
    background-color: rgba(205,230,230);
    position: absolute;
    top: 397px;
    left: 0;
    z-index: ;
}

#process-management .container .processes-wrapper .process{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#process-management .container .processes-wrapper .process .number{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    /* background-color: rgba(3,132,131, 0.2); */
    background-color: rgba(205,230,230);
    color: #1a948f;

}

#process-management .container .processes-wrapper .process .number span{
    margin: auto;
    font-size: 20px;
    font-weight: 800;
}

#process-management .container .processes-wrapper .process h2{
    margin-bottom: 25px;
    color: #24343c;
}

/*************************************  Trusted feedback */
#trusted-feedback{
    height: 780px;
    padding: 135px 0;
    background-color: #eef4ed;
}

#trusted-feedback .container .titles{
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#trusted-feedback .container .titles h1{
    font-size: 48px;
    font-weight: 800;
    color: #24343c;
    margin: 30px 0;
}

#trusted-feedback .container .titles p{
    width: 100%;
    line-height: 24px;
}

#trusted-feedback .container .cards-wrapper{
    display: flex;
    justify-content: space-between;
}

#trusted-feedback .container .cards-wrapper .card{
    width: 360px;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
}

#trusted-feedback .container .cards-wrapper .card::after{
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: absolute;
    top: calc(100% -  60px);
    left: calc(100% -  50px);
    color: lightgrey;
    font-size: 24px;
}

#trusted-feedback .container .cards-wrapper .card .logo-container{
    max-width: 115px;
    margin-bottom: 10px;
}

#trusted-feedback .container .cards-wrapper .card .logo-container img{
    width: 100%;
}

#trusted-feedback .container .cards-wrapper .card p{
    line-height: 24px;
    margin: 5px 0;
}

/*************************************  Footer */
footer{
    height: 850px;
    background-color: #121117;
}
